<div>
<div class="search-wrapper">
    <div class="search-container">
      <span class="search-icon">🔍</span>
      <input
        type="text"
        class="search-input"
        placeholder="Search breaking news..."
      />
      <button class="search-button">Search</button>
    </div>
  </div>
  <div class="widget news-widget main-news" *ngIf="newsArticles.length > 0">
    <div *ngIf="newsLoading" class="loading">Loading news...</div>
    <div class="news-grid">
      <div class="news-card" *ngFor="let article of newsArticles">
        <img [src]="article.urlToImage" alt="news image" class="news-card-image" />
        <div class="news-card-body">
          <h3 class="news-title">{{ article.title }}</h3>
          <p class="news-description">{{ article.description }}</p>
          <div class="publishedAt">
          <a [href]="article.url" target="_blank" class="news-link">Read more</a>
          <p class="news-date">{{ article.publishedAt | date: 'mediumDate' }}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>