<div class="dashboard-container">
 <div class="note-weather">
  <!-- Weather Widget -->
  <div class="widget weather-widget" *ngIf="currentWeather">
    <div *ngIf="loadingWeather" class="loading">Loading weather data...</div>
    <div class="current-weather">
      <div class="location-info" *ngIf="location">
        <h1>{{ location.name }}, {{ location.region }}</h1>
        <h2>{{ currentWeather.condition.text }}</h2>
        <p>{{ currentWeather.temp_c }} °C</p>
        <p>Wind: {{ currentWeather.wind_kph }} km/h</p>
        <p>Pressure: {{ currentWeather.pressure_mb }} mb</p>
      </div>
      <div class="forecast">
        <div *ngFor="let day of forecast">
          <p>{{ day.date | date:'EEE' }}</p>
          <img [src]="'https:' + day.day.condition.icon" />
          <p>{{ day.day.avgtemp_c }} °C</p>
        </div>
      </div>
    </div>
  </div>
  <div class="widget notes-widget" *ngIf="Notes.length > 0">
    <h2><i class="icon">📝</i> Your Notes</h2>
    <div *ngFor="let note of Notes" class="note-preview">

      <div class="note-title">
      <h3>{{ note.title }}</h3>
      <p class="note-date">{{ note.date | date: 'dd/MM/yyyy' }}</p>
    </div>
      <span class="note-tag">{{ note.content }}</span>
      <hr/>
    </div>
    <a class="view-notes-btn" routerLink = "/notes">Manage Notes</a>
  </div>
</div>
<!-- News Widget -->
<div class="widget news-widget" *ngIf="newsArticles.length > 0">
  <h2>Top Headlines</h2>
  <div *ngIf="loadingNews" class="loading">Loading news...</div>

  <div class="news-grid">
    <div class="news-card" *ngFor="let article of newsArticles">
      <img [src]="article.urlToImage" alt="news image" class="news-card-image" />
      <div class="news-card-body">
        <h3 class="news-title">{{ article.title }}</h3>
        <p class="news-description">{{ article.description }}</p>
        <div class="publishedAt">
        <a [href]="article.url" target="_blank" class="news-link">Read more</a>
        <p class="news-date">{{ article.publishedAt | date: 'mediumDate' }}</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
